<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BayTree Express</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="/static/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
        <!-- <div class="row" style="padding:0px;margin:0px;width:100vw;height:100px;background:black">asdf</div> -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top" style="font-size:36px;font-family:Helvetica Neue;font-weight:100;letter-spacing:2px">BayTree Express<br>
                    <div style="width:500px;font-size:12px;line-height:25px">(415) 650 - 8944  <div style="display:inline-block;position:relative;left:100px;"> Open 10 a.m. to 7 p.m. </div></div>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll">
                        <a href="#page-top">Top</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Menu</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li> 
                    <li>
                      <button style="background:rgba(0,0,0,0.2)" type="button" onClick="update_cart()" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                        <span id="number_of_items"> 0 </span>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                      </button>
                        <!-- <a href="#">Shopping Cart</a> -->
                    </li>                                        
                </ul>
            </div
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Shopping Cart</h4>
      </div>
      <div class="modal-body">  
        <div id="loading_form" style="text-align:center;display:none">
            <img src="https://cannador.com/images/load.gif">
        </div>
        <div id="login_form">
            <h4>Login or Register to continue checking out</h4>
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon3">Email</span>
              <input type="text" class="form-control" aria-describedby="sizing-addon3" id="u_email">
            </div>
            <br>
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon3">Password</span>
              <input type="password" class="form-control" aria-describedby="sizing-addon3" id="u_password">
            </div>
            <a href="#" class="btn btn-lg btn-outline" style="color:black;font-weight:100;letter-spacing:2px" onClick="register()">
               Register
            </a>
            <a href="#" class="btn btn-lg btn-outline" style="color:black;font-weight:100;letter-spacing:2px" onClick="login()">
               Login
            </a>
        </div>
        <div id="error_log" style="display:none">
        <!-- <div id="error_log"> -->
            <h8 style="color:red;">Something went wrong with your registration or login! Please try again. </h8>
        </div>
        <!-- <div id="upload_form"> -->
        <div id="upload_form" style="display:none">
            <h4>Upload your Doctor's recommendation</h4>
              <form method="post" enctype="multipart/form-data" id="myForm" action="upload/"  target="dummyframe">
                <input type="file" name="file" class="inputimg" id="nameImg" accept="image/*">
                <input type="text" name="user" id="user" style="display:none">
                <br />
                <span class="input-group-btn">
                        <button  type="submit" class="btn btn-block" onClick="open_shop()">Upload Rec
                        </button>
                  </span>
              </form>            
        </div>
        <!-- <div id="shopping_cart"> -->
        <div id="shopping_cart" style="display:none">
            <h4>This is your shopping cart!</h4>
            <div class="row" id="cart_pin" style="padding-left:50px">
            <span> There's nothing here ! </span>
            </div>
            <hr>
            <div class='row' style="padding-left:50px">
                <div class='col-md-6'>Total</div>
                <div class='col-md-3'></div>
                <div class='col-md-2' id="cart_total">0</div>
                <div class='col-md-1'></div>
            </div>
            <hr style='margin:3px'>
            <center><button class="btn" onClick="confirm_order()"> Confirm Order </button></center>
        </div>
        <div id="address_form" style="display:none">
            <h4>Enter your Shipping Address</h4>
            <h6>We will only deliver to San Francisco</h6>
            <h6>Estimated Delivery Times 60 - 90 minutes</h6>
            <div class="row" id="cart_pin" style="padding-left:50px;padding-right:50px">
            <input type="text" class="form-control" aria-describedby="sizing-addon3" id="u_address">
            <input type="text" class="form-control" aria-describedby="sizing-addon3" value="San Francisco, CA" disabled>
            <br>
            </div>
            <center><button class="btn" onClick="submit_order()"> Place Order </button></center>
        </div>
        <div id="confirmation_form" style="display:none">
            <h4>Your order has been placed! Estimated Time of Delivery: 60 - 90 minutes</h4>
            <h6>You will be emailed an invoice copy</h6>
            <h6>Call us at (415) 650 - 8944 for any questions</h6>
        </div>                
        <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
let cart = []
let total = 0
function register() {
    $("#login_form").fadeOut(250)
    $("#loading_form").fadeIn(250)
    var email = ($("#u_email").val())
    var password = ($("#u_password").val())
    $.ajax({
        url: 'register/',
        method: 'POST',
        data: {'email': email, 'password': password}
    }).done(function(x) {
        localStorage.setItem('token',JSON.stringify({'t':x.token}))
        if (x.error !== 'error') {
            if (String(x.user) == String(email)) {
                $("#user")[0].value = String(x.user)
                $("#error_log").fadeOut(250)
                $("#loading_form").fadeOut(250)
                $("#upload_form").fadeIn(250)
            }
        } else {
            $("#loading_form").fadeOut(250)
            $("#login_form").fadeIn(250)
            $("#error_log").fadeIn(250)
        }
    })
}
function login() {
    $("#login_form").fadeOut(250)
    $("#loading_form").fadeIn(250)
    var email = ($("#u_email").val())
    var password = ($("#u_password").val())
    $.ajax({
        url: 'login/',
        method: 'POST',
        data: {'email': email, 'password': password}
    }).done(function(x) {
        localStorage.setItem('token',JSON.stringify({'t':x.token}))
        if (x.error !== 'error') {
            if (String(x.user) == String(email)) {
                open_shop()
            }
        }
    })
}
function open_shop() {
    update_cart()
    setTimeout(function(){ 
        $("#loading_form").fadeOut(250)
        $("#upload_form").fadeOut(250)
        $("#shopping_cart").fadeIn(250)
    }, 2000);
}
function remove_cart(i) {
    if (i == 0 && cart.length == 1) {
        $("#cart_pin")[0].innerHTML = ""
        cart = []    
        $("#cart_total")[0].innerText = "$" + 0
    } else {
        cart.splice(i,1)
        $("#cart_pin")[0].innerHTML = ""
        cart.forEach(function(item, i) {
            $("#cart_pin").append("<div class='row'><div class='col-md-6'>"+String(item.strain)+"</div><div class='col-md-3'>"+String(item.qty)+"</div><div class='col-md-2'>$"+String(item.price)+"</div><div class='col-md-1'><i class='fa fa-trash' onClick='remove_cart(" +String(i) + ")'></i></div></div></div><hr style='margin:3px'>")
        })
        total = 0
        cart.forEach(function(x) {
            total += Number(x.price)
        })
        $("#cart_total")[0].innerText = "$" + total
    }

}
function update_cart() {
    
    $("#cart_pin")[0].innerHTML = ""
    cart.forEach(function(item, i) {
        $("#cart_pin").append("<div class='row'><div class='col-md-6'>"+String(item.strain)+"</div><div class='col-md-3'>"+String(item.qty)+"</div><div class='col-md-2'>$"+String(item.price)+"</div><div class='col-md-1'><i class='fa fa-trash' onClick='remove_cart(" +String(i) + ")'></i></div></div></div><hr style='margin:3px'>")
    })
}
function submit_order() {
    $.ajax({
        url: 'submit_order/',
        method: 'POST',
        data: {'cart': JSON.stringify(cart), 'address': $("#u_address").val() , 'token': JSON.parse(localStorage.getItem('token')).t }
    }).done(function(x) {
        if (x.action == 'complete') {
            $("#address_form").fadeOut(250)
            $("#shopping_cart").fadeOut(250)
            $("#confirmation_form").fadeIn(250)
        }
    })
}
function confirm_order() {
    $("#address_form").fadeIn(250)
}

</script>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">Delivering the best prices <br> on cannabis since 2016</span>
  <hr>
                        <span class="skills">Ask about our 30 gram ounces for 75$</span><br>
                        <span class="skills">Call us at (415) 650 - 8944</span><br>
                        <span class="skills">Minimum 40$ order for delivery</span><br>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Indica</h2>
                    <hr style="border-color:black">
                </div>
            </div>
<script>
function select_nug(name,gram,eighth,quarter,half,oz,qp,hp,url) {
    if (gram) {
        $("#select_nug_gram")[0].innerText = String("$ "+gram)
    } else {
        $("#selected_gram").css('display','none')
    }
    if (eighth) {
        $("#select_nug_eighth")[0].innerText = String("$ "+eighth)
    } else {
        $("#selected_eighth").css('display','none')
    }  
    if (quarter) {
        $("#select_nug_quad")[0].innerText = String("$ "+quarter)
    } else {
        $("#selected_quad").css('display','none')
    }
    if (half) {
        $("#select_nug_half")[0].innerText = String("$ "+half)
    } else {
        $("#selected_half").css('display','none')
    }
    if (oz) {
        $("#select_nug_oz")[0].innerText = String("$ "+oz)
    } else {
        $("#selected_oz").css('display','none')
    }
    if (qp) {
        $("#select_nug_qp")[0].innerText = String("$ "+qp)
    } else {
        $("#selected_qp").css('display','none')
    }
    if (hp) {
        $("#select_nug_hp")[0].innerText = String("$ "+hp)   
    } else {
        $("#selected_hp").css('display','none')
    }
    $("#selected_nug_title")[0].innerText = String(name)
    $("#chosen_nug_pic").attr('src','/static/img/'+String(url)+'.jpg')
}
function add_to_cart(str) {
    $("#item_"+str)[0].innerText = "Added"
    if (str === 'gram') {var price = $("#select_nug_gram")[0].innerText.slice(2,5)}
    if (str === 'eighth') {var price = $("#select_nug_eighth")[0].innerText.slice(2,5)}
    if (str === 'quad') {var price = $("#select_nug_quad")[0].innerText.slice(2,5)}
    if (str === 'half') {var price = $("#select_nug_half")[0].innerText.slice(2,5)}
    if (str === 'oz') {var price = $("#select_nug_oz")[0].innerText.slice(2,5)}
    if (str === 'qp') {var price = $("#select_nug_qp")[0].innerText.slice(2,5)}
    if (str === 'hp') {var price = $("#select_nug_hp")[0].innerText.slice(2,5)}
    var item = {
        'strain' : $("#selected_nug_title")[0].innerText,
        'qty' : str,
        'price' : price
    }
    cart.push(item)
    total = 0
    cart.forEach(function(x) {
        total += Number(x.price)
    })
    $("#cart_total")[0].innerText = "$" + total
    $("#number_of_items")[0].innerText = cart.length
}
function reset_menu() {
     $("#item_gram")[0].innerText = "Add to Cart"   
     $("#item_eighth")[0].innerText = "Add to Cart"   
     $("#item_quad")[0].innerText = "Add to Cart"   
     $("#item_half")[0].innerText = "Add to Cart"   
     $("#item_oz")[0].innerText = "Add to Cart"   
}
</script>
            <div class="row">
{% for item in indicas %}
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal" onClick="select_nug('{{item.name}}','{{item.gram.gram}}','{{item.gram.eighth}}','{{item.gram.quarter}}','{{item.gram.half}}','{{item.gram.oz}}','{{item.gram.qp}}','{{item.gram.hp}}','{{item.img}}')">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- {{item}} -->
                            <div style="margin-top:-50px">
                                <span>${{item.gram.gram}} per gram</span> <br>
                                <span>${{item.gram.eighth}} per eighth</span> <br>
                    {% if item.gram.quarter %}
                                <span>${{item.gram.quarter}} per quarter</span> <br>
                    {% endif %}
                    {% if item.gram.half %}
                                <span>${{item.gram.half}} per half</span> <br>
                    {% endif %}
                    {% if item.gram.oz %}
                                <span>${{item.gram.oz}} per oz</span> <br>
                    {% endif %}
                    {% if item.gram.qp %}
                                <span>${{item.gram.qp}} per quarter pound</span> <br>
                    {% endif %}
                    {% if item.gram.hp %}
                                <span>${{item.gram.hp}} per half pound</span> <br>
                    {% endif %}
                            </div>
                            </div>
                        </div>
                        <center><h2 style="font-size:16px">{{item.name}}</h2></center>
                        <img src="/static/img/{{item.img}}.jpg" class="img-responsive" alt="" style="width:100%;height:100%">
                    </a>
                </div>
{% endfor %}
                
        </div>
   <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Hybrid</h2>
                    <hr style="border-color:black">
                </div>
            </div>
            <div class="row">
{% for item in hybrids %}
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal" onClick="select_nug('{{item.name}}','{{item.gram.gram}}','{{item.gram.eighth}}','{{item.gram.quarter}}','{{item.gram.half}}','{{item.gram.oz}}','{{item.gram.hp}}','{{item.gram.hp}}','{{item.img}}')">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- {{item}} -->
                            <div style="margin-top:-50px">
                                <span>${{item.gram.gram}} per gram</span> <br>
                                <span>${{item.gram.eighth}} per eighth</span> <br>
                    {% if item.gram.quarter %}
                                <span>${{item.gram.quarter}} per quarter</span> <br>
                    {% endif %}
                    {% if item.gram.half %}
                                <span>${{item.gram.half}} per half</span> <br>
                    {% endif %}
                    {% if item.gram.oz %}
                                <span>${{item.gram.oz}} per oz</span> <br>
                    {% endif %}
                    {% if item.gram.qp %}
                                <span>${{item.gram.qp}} per quarter pound</span> <br>
                    {% endif %}
                    {% if item.gram.hp %}
                                <span>${{item.gram.hp}} per half pound</span> <br>
                    {% endif %}
                            </div>
                            </div>
                        </div>
                        <center><h2 style="font-size:16px">{{item.name}}</h2></center>
                        <img src="/static/img/{{item.img}}.jpg" class="img-responsive" alt="" style="width:100%;height:200px">
                    </a>
                </div>
{% endfor %}

            </div>
        </div>        
           <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sativa</h2>
                    <hr style="border-color:black">
                </div>
            </div>
            <div class="row">
{% for item in sativas %}
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal" onClick="select_nug('{{item.name}}','{{item.gram.gram}}','{{item.gram.eighth}}','{{item.gram.quarter}}','{{item.gram.half}}','{{item.gram.oz}}','{{item.gram.hp}}','{{item.gram.hp}}','{{item.img}}')">
                        <div class="caption">
                            <div class="caption-content">
                                <!-- {{item}} -->
                            <div style="margin-top:-50px">
                                <span>${{item.gram.gram}} per gram</span> <br>
                                <span>${{item.gram.eighth}} per eighth</span> <br>
                    {% if item.gram.quarter %}
                                <span>${{item.gram.quarter}} per quarter</span> <br>
                    {% endif %}
                    {% if item.gram.half %}
                                <span>${{item.gram.half}} per half</span> <br>
                    {% endif %}
                    {% if item.gram.oz %}
                                <span>${{item.gram.oz}} per oz</span> <br>
                    {% endif %}
                    {% if item.gram.qp %}
                                <span>${{item.gram.qp}} per quarter pound</span> <br>
                    {% endif %}
                    {% if item.gram.hp %}
                                <span>${{item.gram.hp}} per half pound</span> <br>
                    {% endif %}
                            </div>
                            </div>
                        </div>                        <center><h2 style="font-size:16px">{{item.name}}</h2></center>
                        <img src="/static/img/{{item.img}}.jpg" class="img-responsive" alt="" style="width:100%;height:200px">
                    </a>
                </div>
{% endfor %}
                            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color:white;font-weight:100;letter-spacing:2px">About</h2>
                    <hr>
                </div>
            </div>
            <div class="row" style="font-weight:100;letter-spacing:2px">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Baytree Express is a professional cannabis delivery service, operating within the San Francisco area. </p>
                </div>
                <div class="col-lg-4">
                    <p>We offer the best prices in San Francisco, and delivery times within an hour. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Us</h2>
                    <hr style="color:black">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email Address</label>
                                <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Phone Number</label>
                                <input type="tel" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Message</label>
                                <textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center" style="color:white;font-weight:100;letter-spacing:2px">
        <div class="footer-above">
            <div class="container">
                <div class="row" >
                    <div class="footer-col col-md-4" >
                        <h3 style="color:white;font-weight:100;letter-spacing:2px">Location</h3>
                            <br>San Francisco, CA 94121</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3 style="color:white;font-weight:100;letter-spacing:2px">Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3 style="color:white;font-weight:100;letter-spacing:2px">About Us</h3>
                        <p style="font-size::;px">BayTree Express is a San Francisco Bay Area and Southern California collective specializing in providing a safe, discreet and reliable delivery service to all qualified medical cannabis patients.
</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright © 2016 Baytree Express and All Rights Reserved.
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal" onClick="reset_menu()">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 id="selected_nug_title">OG Dank</h2>
                            <hr style="border-color:black">
                            <div class="row">
                              <div class="col-md-6" style="height:50vh">
                                <img src="/static/img/nug.jpg" class="img-responsive img-centered" id="chosen_nug_pic" alt="">
                              </div>
                              <div class="col-md-6"  style="height:auto">
                                <center style="font-size:24px">




                                  <div class="row" style="border-bottom:1px solid black" id="selected_gram">
                                    <div class="col-md-4">
                                     <button class="btn" style="margin-top:10px;font-size:12px" onClick="add_to_cart('gram')" id="item_gram"> Add to Cart </button>
                                    </div>
                                    <div class="col-md-3" style="text-align:left" id="select_nug_gram">5$</div>
                                    <div class="col-md-5">for 1.2g gram</div>
                                  </div>




                                  <div class="row" style="border-bottom:1px solid black"  id="selected_eighth">
                                    <div class="col-md-4">
                                     <button class="btn" style="margin-top:10px;font-size:12px" onClick="add_to_cart('eighth')" id="item_eighth"> Add to Cart </button>
                                    </div>
                                    <div class="col-md-3" style="text-align:left" id="select_nug_eighth">5$</div>
                                    <div class="col-md-5">for 3.6g eighth</div>
                                  </div>

                                  <div class="row" style="border-bottom:1px solid black"  id="selected_quad">
                                    <div class="col-md-4">
                                     <button class="btn" style="margin-top:10px;font-size:12px" onClick="add_to_cart('quad')" id="item_quad"> Add to Cart </button>
                                    </div>
                                    <div class="col-md-3" style="text-align:left" id="select_nug_quad">5$</div>
                                    <div class="col-md-5">for 7.2g quarter</div>
                                  </div>




                                  <div class="row" style="border-bottom:1px solid black" id="selected_half">
                                    <div class="col-md-4">
                                     <button class="btn" style="margin-top:10px;font-size:12px" onClick="add_to_cart('half')" id="item_half"> Add to Cart </button>
                                    </div>
                                    <div class="col-md-3" style="text-align:left" id="select_nug_half">5$</div>
                                    <div class="col-md-5">for 14.4g half</div>
                                  </div>




                                  <div class="row" style="border-bottom:1px solid black" id="selected_oz">
                                    <div class="col-md-4">
                                     <button class="btn" style="margin-top:10px;font-size:12px" onClick="add_to_cart('oz')" id="item_oz"> Add to Cart </button>
                                    </div>
                                    <div class="col-md-3" style="text-align:left" id="select_nug_oz">5$</div>
                                    <div class="col-md-5">for 30g ounce</div>
                                  </div>

                                  <div class="row" style="border-bottom:1px solid black" id="selected_qp">
                                    <div class="col-md-4">
                                     <button class="btn" style="margin-top:10px;font-size:12px" onClick="add_to_cart('qp')" id="item_qp"> Add to Cart </button>
                                    </div>
                                    <div class="col-md-3" style="text-align:left" id="select_nug_qp">5$</div>
                                    <div class="col-md-5">for quarter pound</div>
                                  </div>

                                  <div class="row" style="border-bottom:1px solid black" id="selected_hp">
                                    <div class="col-md-4">
                                     <button class="btn" style="margin-top:10px;font-size:12px" onClick="add_to_cart('hp')" id="item_hp"> Add to Cart </button>
                                    </div>
                                    <div class="col-md-3" style="text-align:left" id="select_nug_hp">5$</div>
                                    <div class="col-md-5">for half pound</div>
                                  </div>     


                                  <br>
                                  or
                                  <br>
                                  Mix and Match<br> 3 strains for a 3.6g eighth

                                </center>
                              </div>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onClick="reset_menu()"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% block scripts %}
    <!-- jQuery -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/static/js/jqBootstrapValidation.js"></script>
    <script src="/static/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="/static/js/freelancer.js"></script>
{% endblock %}
</body>

</html>
